@charset "UTF-8";

/* html{
    height: 100%;
} */

body{
    height: 100%;
    background:linear-gradient(#2384de,#f5df36);
    min-height:100vh;
    background-attachment:fixed;
}
label{display: block;
      margin-bottom:0.5em;}
input{display: block;
      margin-bottom:0.5em;}
.form{
    background-color:rgb(0 0 0 /30%);
    opacity:0.4;
    align-items:center;
    justify-content:center;
    width:20%;
    height:70%;
    margin:auto;
    border-radius:8px;
}
.form p{text-align: center;}

p{color:#ffffff;}

.sub{text-align:center;
     font-weight: bold;
     font-size:30px;}
.greet{text-align:center;
       color:#ffffff;}

.register{padding:10px;}

.form label{color:#ffffff;}
.form .button{margin-left:65%;
              background-color:#ed3a50;
              color: #ffffff;}

h2{color:#ffffff;}

header{text-align:center;}

.logo{width:20%;
      margin-top:10%;}

.success{margin-left:65%;}
