@charset "utf-8";
/* html{
}
body{
} */

/* header */
header{padding:10px;
       background:#186ac9;}

/* main content */
#row{display: flex;
     flex-flow: row wrap;}
#container{flex: 0 0 80%;}
#side-bar{flex: 0 0 19%;
          border-left: 1px solid #727272;}
#head{align-items:center;}

.delete-icon:hover{content: url("/images/trash-h.png");}

/* サイドバー */
#confirm{padding-bottom:40px;
         border-bottom:1px solid #727272;}
.username{margin:30px auto 0 20px;
          font-weight:bold;}
.list-number{display:flex;
       >p{margin:20px 30px 10px 20px;
          font-weight:bold;}}
.list-btn{display: block;
          margin-left:auto;
          width:45%;
          border: none;
          border-radius:5px;
          background:#0656cf;
          font-size: 14px;
          cursor: pointer;
       >a{color:#ffffff;}}
.search-btn{display: block;
            margin:40px auto;
            width:45%;
            border: none;
            border-radius:5px;
            background:#0656cf;
            font-size: 14px;
            cursor: pointer;
       >a{color:#ffffff;}}

/* トップページ */
.post_form{display: flex;
           align-items: center;
           border-bottom:3px solid #727272;
           padding:20px;
           height:50%;}
.form-control{height:90%;
              text-align:center;
              display:flex;
              background-color:transparent;
              cursor: pointer;
              padding:0;
              appearance: none;}
.post_form form{display:flex;
                height:100%;
                width:70%;
                margin:auto;}
.post_form button{display: flex;
                  align-items:flex-end;
                  margin-top:0;
                  background-color:transparent;
                  border: none;
                  cursor: pointer;
                  outline: none;
                  padding: 0;
                  appearance: none;}
.post_form img{width:40px;
               height:40px;}
.post{display: flex;
      align-items: flex-start;
      border-bottom: 1px solid #ddd;
      padding: 20px 10px;}
.post_a{width:60px;
        text-align:center;}
.post_b{flex: 1;
        padding-left: 15px;}
.post_username{height:60px;
               display:flex;
               align-items: center;
               font-weight:bold;}
.post_c{text-align: right;
        width: 150px;}
.post_c img{width:50px;}

/* 検索ページ */
.container{border-bottom:3px solid #727272;
           padding:20px;}
.search_form{display: flex;
             align-items: center;
             border-bottom:3px solid #727272;
             padding:20px;}
.search_form button{display: flex;
                    background-color:transparent;
                    border: none;
                    cursor: pointer;
                    outline: none;
                    padding: 0;
                    appearance: none;}
.search_form img{width:36px;}
.search_form form{display: flex;}
.users{display: flex;
       align-items: center;
       justify-content: space-between;
       padding-top:20px;}
.users img{margin-left:30%;}
.users p{margin:auto;
         font-weight: bold;}
.users form{margin-right:30%;}

/* プロフィール編集ページ */
.form{width:55%;
      margin:40px auto;
      font-size:14px;}
.form-group{display:flex;
            align-items:center;
            margin-bottom:20px;}
.form-group label{width:30%;
                  font-weight: bold;}
.input,.textarea,.input-file{flex: 1;
                             padding: 8px 10px;
                             border: 1px solid #9e9e9e;
                             box-sizing: border-box;
                             background: #efefef;
                             font-size: 14px;}
.input-file{height:100px;
            align-items:center;
            border-radius:3px;
            cursor: pointer;}
.update-btn{display: block;
            margin: 30px auto 0;
            width:26%;
            padding: 10px 24px;
            border: none;
            border-radius:5px;
            background: #de4949;
            color: #fff;
            font-size: 14px;
            cursor: pointer;}

/* 相手プロフィールページ内 */
.follower-pro{display:flex;
       margin:20px;
       height:200px;
border-bottom:3px solid #727272;}
.user-icon{height:10%;
width:10%;}
.follower-post{display:flex;}
