@charset "utf-8";
/* html{
}
body{
} */

/* header */
header{padding:10px;
       background:#186ac9;}

/* main content */
#row{display: flex;
     flex-flow: row wrap;}
#container{flex: 0 0 80%;}
#side-bar{flex: 0 0 19%;
          border-left: 1px solid #727272;}
#head{align-items:center;}

.delete-icon:hover{content: url("/images/trash-h.png");}

/* トップページ */
.container form{display:flex;}
.container .btn{width:30px;}

/* 検索ページ */
.container{border-bottom:3px solid #727272;
           padding:20px;}
.search_form{display: flex;
             align-items: center;
             border-bottom:3px solid #727272;
             padding:20px;}
.search_form button{display: flex;
                    background-color: transparent;border: none;cursor: pointer;outline: none;padding: 0;appearance: none;}
.search_form img{width:36px;}
.search_form form{display: flex;}
.users{display: flex;
       align-items: center;
       justify-content: space-between;
       padding-top:20px;}
.users img{margin-left:30%;}
.users p{margin:auto;
         font-weight: bold;}
.users form{margin-right:30%;}
